
<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{!-- {{>navbar}} --}}
   
    <!-- main Header -->
    <div class="container-fluid main-header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main-header-left align-items-center ">
                <figure>
                    <img src="images/error.avif" alt="zaiab" class="img-fluid" title="zainabb">
                </figure>
            </div> 
            <div class=" col-md-6 col-18 main-header-left">
                <p>Opps!!  Page Not Found</p>
                <h1>Error </h1>
        <a href="/"><button>Go Back</button></a>
            </div> 
            <!-- right div -->
            
        </div>


            </div>
        </div>
    </div>
<!-- footer -->
{{!-- {{>footer}} --}}

</body>
</html>