
<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
   
    <!-- main Header -->
    <div class="container-fluid main-header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main-header-left align-items-center ">
                <figure>
                    <img src="images/gurl.png" alt="zaiab" class="img-fluid" title="zainabb">
                </figure>
            </div> 
            <div class="col-md-6 col-18 main-header-left">
                <p>Welcome to weather app</p>
                <h1>I am a <span class="text-color">Mern Stack</span> Developer </h1>
        <a href="/weather"><button> </button></a>
            </div> 
            <!-- right div -->
            
        </div>


            </div>
        </div>
    </div>
<!-- footer -->
{{>footer}}

</body>
</html>